<template>
  <div class="hello">
    <nav class="navbar navbar-expand-lg darkBlue px-5 py-3">
      <div class="container px-4">
        <a class="navbar-brand" href="#"><img src="@/assets/images/logo.svg" alt="" srcset=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Movies
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Popular</a></li>
                <li><a class="dropdown-item" href="#">Now Playing</a></li>
                <li><a class="dropdown-item" href="#">Upcoming</a></li>
                <li><a class="dropdown-item" href="#">Top Rated</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                TV Shows
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Popular</a></li>
                <li><a class="dropdown-item" href="#">Airing Today</a></li>
                <li><a class="dropdown-item" href="#">On TV</a></li>
                <li><a class="dropdown-item" href="#">Top Rated</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                People
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Popular People</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Discussion</a></li>
                <li><a class="dropdown-item" href="#">Leader Board</a></li>
                <li><a class="dropdown-item" href="#">Support</a></li>
                <li><a class="dropdown-item" href="#">Api</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#"><i class="fas fa-plus" style="font-size:20px"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Join TMDB</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-search" style="font-size: 20px;color: #5bd7ff;"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <section class="row mb-5">
        <div class="main col-lg-12 text-center py-3 px-5">
          <div class="row mx-auto">
            <div class="col-lg-12 year">
              <h2>2021</h2>
            </div>
            <div class="col-lg-12 main-caption">
              <h2>That's a Wrap</h2>
              <h3><a href="">Let's dive into 2021's best and worst! →</a></h3>
            </div>
            <div class="col-lg-12 main-form">
              <div class="input-group mb-3 px-2">
                <input type="text" class="form-control py-2" placeholder="Search for a movie, tv show, person......" aria-describedby="button-addon2">
                <button class="btn" type="button" id="button-addon2">Search</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="popular col-lg-12">
          <div class="row mx-auto">
            <div class="col-lg-12 column-header mb-3">
              <h2 class="d-inline-block me-3">What's Popular</h2>
              <div class="button-container d-inline-flex">
                <div><a id="streaming" data-mon="flatrate" data-release="" :class="{'active': selected == 'streaming'}" @click="popular_menu" href="javascript:;">Streaming</a></div>
                <div><a id="rent" data-mon="rent" data-release="" :class="{'active': selected == 'rent'}" @click="popular_menu" href="javascript:;">For Rent</a></div>
                <div><a id="theater" data-mon="" data-release="1" :class="{'active': selected == 'theater'}" @click="popular_menu" href="javascript:;">In Theaters</a></div>
                <div id="marker" class="sliding"></div>
              </div>
            </div>
            <transition name="fade">
              <div v-if="popularShow" class="col-lg-12 content">
                <div class="card" v-for="data in popular" :key="data.id">
                  <div class="card-header">
                    <a href="">
                      <img :src="'http://image.tmdb.org/t/p/w220_and_h330_face'+data.poster_path" class="card-img-top" alt="...">
                    </a>
                    <div class="single-chart">
                      <svg viewBox="0 0 36 36" class="circular-chart orange">
                        <path class="circle-bg"
                          d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                          stroke-dasharray="30, 100"
                          d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="19" y="21.5" class="percentage">30%</text>
                      </svg>
                    </div>
                  </div>
                  <div class="card-body px-1">
                    <h2 class="card-title">
                      <a href="">{{data.name}}</a>
                    </h2>
                    <p class="card-text">{{data.first_air_date}}</p>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="freeWatch col-lg-12 mt-5">
          <div class="row mx-auto">
            <div class="col-lg-12 column-header mb-3">
              <h2 class="d-inline-block me-3">Free To Watch</h2>
              <div class="button-container d-inline-flex">
                <div><a id="movie" :class="{'active': selected_free == 'movie'}" @click="free_menu" href="javascript:;">Movie</a></div>
                <div><a id="tv" :class="{'active': selected_free == 'tv'}" @click="free_menu" href="javascript:;">TV</a></div>
                <div id="marker2" class="sliding"></div>
              </div>
            </div>
            <transition name="fade">
              <div v-if="freeShow" class="col-lg-12 content">
                <div class="card" v-for="data in free" :key="data.id">
                  <div class="card-header">
                    <a href="">
                      <img :src="'http://image.tmdb.org/t/p/w220_and_h330_face'+data.poster_path" class="card-img-top" alt="...">
                    </a>
                    <div class="single-chart">
                      <svg viewBox="0 0 36 36" class="circular-chart orange">
                        <path class="circle-bg"
                          d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                          stroke-dasharray="30, 100"
                          d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="19" y="21.5" class="percentage">30%</text>
                      </svg>
                    </div>
                  </div>
                  <div class="card-body px-1">
                    <h2 class="card-title">
                      <a href="">{{data.title || data.name}}</a>
                    </h2>
                    <p class="card-text">{{data.release_date || data.first_air_date}}</p>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </section>
      <section class="row">
        <div id="latest" class="latest col-lg-12 mt-5" :style="{backgroundImage:`url(${background_change})`}">
          <div class="row pt-4" style="background-color: #27406fcc;">
            <div class="col-lg-12 column-header mb-3">
              <h2 class="d-inline-block me-3">Latest Trailer</h2>
              <div class="button-container-latest d-inline-flex">
                <div><a id="streamings" data-mon="flatrate" data-release="" :class="{'active': selected_latest == 'streamings'}" @click="latest_menu" href="javascript:;">Streaming</a></div>
                <div><a id="rents" data-mon="rent" data-release="" :class="{'active': selected_latest == 'rents'}" @click="latest_menu" href="javascript:;">For Rent</a></div>
                <div><a id="theaters" data-mon="" data-release="1" :class="{'active': selected_latest == 'theaters'}" @click="latest_menu" href="javascript:;">In Theaters</a></div>
                <div id="marker3" class="sliding"></div>
              </div>
            </div>
            <transition name="fade">
              <div v-if="latestShow" class="col-lg-12 content">
                <div class="card" v-for="data in latest" :key="data.id">
                  <div class="card-header">
                    <a href="">
                      <img @mouseover="getSrc" :data-src="'http://image.tmdb.org/t/p/w1920_and_h427_multi_faces'+data.poster_path" :src="'http://image.tmdb.org/t/p/w355_and_h200_multi_faces'+data.poster_path" class="card-img-top" alt="...">
                    </a>
                    <i class="fas fa-play play-btn"></i>
                  </div>
                  <div class="card-body px-1">
                    <h2 class="card-title">
                      <a href="">{{data.name}}</a>
                    </h2>
                    <p class="card-text">{{data.first_air_date}}</p>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="trending col-lg-12 mt-5 mb-3">
          <div class="row mx-auto">
            <div class="col-lg-12 column-header mb-3">
              <h2 class="d-inline-block me-3">Tranding</h2>
              <div class="button-container d-inline-flex">
                <div><a id="day" :class="{'active': selected_trending == 'day'}" @click="tranding_menu" href="javascript:;">Today</a></div>
                <div><a id="week" :class="{'active': selected_trending == 'week'}" @click="tranding_menu" href="javascript:;">This Week</a></div>
                <div id="marker4" class="sliding"></div>
              </div>
            </div>
            <transition name="fade">
              <div v-if="trendingShow" class="col-lg-12 content">
                <div class="card" v-for="data in trending" :key="data.id">
                  <div class="card-header">
                    <a href="">
                      <img :src="'http://image.tmdb.org/t/p/w220_and_h330_face'+ data.poster_path" class="card-img-top" alt="...">
                    </a>
                    <div class="single-chart">
                      <svg viewBox="0 0 36 36" class="circular-chart orange">
                        <path class="circle-bg"
                          d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <path class="circle"
                          stroke-dasharray="30, 100"
                          d="M18 2.0845
                            a 15.9155 15.9155 0 0 1 0 31.831
                            a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                        <text x="19" y="21.5" class="percentage">30%</text>
                      </svg>
                    </div>
                  </div>
                  <div class="card-body px-1">
                    <h2 class="card-title">
                      <a href="">{{data.title || data.name}}</a>
                    </h2>
                    <p class="card-text">{{data.release_date || data.first_air_date}}</p>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="joinToday col-lg-12 p-5">
          <div class="row">
            <div class="col-lg-12 join-title mb-3">
              <h2>Join Today</h2>
            </div>
            <div class="col-lg-8">
              <p>Get access to maintain your own <em>custom personal lists</em>, <em>track what you've seen</em> and search and filter for <em>what to watch next</em>—regardless if it's in theatres, on TV or available on popular streaming services like Netflix, Hotstar, Amazon Prime Video, and iflix.</p>
              <button class="btn btn-ungu">Sign Up</button>
            </div>
            <div class="col-lg-4">
              <ul class="list-com">
                <li>Enjoy TMDB ad free</li>
                <li>Maintain a personal watchlist</li>
                <li>Filter by your subscribed streaming services and find something to watch</li>
                <li>og the movies and TV shows you've seen</li>
                <li>uild custom lists</li>
                <li>Contribute to and improve our database</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="col-lg-12 py-3 mt-4">
          <div class="row">
            <div class="col-lg-12 column-header mb-3 d-flex" style="align-items: center">
              <h2 class="d-inline-block me-2">Leader Board</h2>
              <ul class="d-inline-block" style="font-size: 0.9em;list-style:none">
                <li><span class="dots gradient-green"></span> Time Edits</li>
                <li><span class="dots gradient-red"></span> Edits This Week</li>
              </ul>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6 mb-2">
                  <div class="row">
                    <div class="col-lg-1">
                      <img style="width: 45px;height: 45px;border-radius: 50%;" src="@/assets/images/avatar.jpg" alt="" srcset="">
                    </div>
                    <div class="col-lg-11">
                      <h3 class="d-inline-block mb-0" style="font-size: 1.2em;font-weight:600">eliav.co</h3>
                      <div class="row">
                        <div class="col-lg-12 mb-0">
                          <div class="bars gradient-green" style="width:30%"></div>
                          <span style="font-weigh:bold">4,268</span>
                        </div>
                        <div class="col-lg-12">
                          <div class="bars gradient-red" style="width:10%"></div>
                           <span style="font-weigh:bold">4,268</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-2">
                  <div class="row">
                    <div class="col-lg-1">
                      <img style="width: 45px;height: 45px;border-radius: 50%;" src="@/assets/images/avatar.jpg" alt="" srcset="">
                    </div>
                    <div class="col-lg-11">
                      <h3 class="d-inline-block mb-0" style="font-size: 1.2em;font-weight:600">eliav.co</h3>
                      <div class="row">
                        <div class="col-lg-12 mb-0">
                          <div class="bars gradient-green" style="width:80%"></div>
                          <span style="font-weigh:bold">4,268</span>
                        </div>
                        <div class="col-lg-12">
                          <div class="bars gradient-red" style="width:50%"></div>
                           <span style="font-weigh:bold">4,268</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-2">
                  <div class="row">
                    <div class="col-lg-1">
                      <img style="width: 45px;height: 45px;border-radius: 50%;" src="@/assets/images/avatar.jpg" alt="" srcset="">
                    </div>
                    <div class="col-lg-11">
                      <h3 class="d-inline-block mb-0" style="font-size: 1.2em;font-weight:600">eliav.co</h3>
                      <div class="row">
                        <div class="col-lg-12 mb-0">
                          <div class="bars gradient-green" style="width:40%"></div>
                          <span style="font-weigh:bold">4,268</span>
                        </div>
                        <div class="col-lg-12">
                          <div class="bars gradient-red" style="width:90%"></div>
                           <span style="font-weigh:bold">4,268</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-2">
                  <div class="row">
                    <div class="col-lg-1">
                      <img style="width: 45px;height: 45px;border-radius: 50%;" src="@/assets/images/avatar.jpg" alt="" srcset="">
                    </div>
                    <div class="col-lg-11">
                      <h3 class="d-inline-block mb-0" style="font-size: 1.2em;font-weight:600">eliav.co</h3>
                      <div class="row">
                        <div class="col-lg-12 mb-0">
                          <div class="bars gradient-green" style="width:30%"></div>
                          <span style="font-weigh:bold">4,268</span>
                        </div>
                        <div class="col-lg-12">
                          <div class="bars gradient-red" style="width:90%"></div>
                           <span style="font-weigh:bold">4,268</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-2">
                  <div class="row">
                    <div class="col-lg-1">
                      <img style="width: 45px;height: 45px;border-radius: 50%;" src="@/assets/images/avatar.jpg" alt="" srcset="">
                    </div>
                    <div class="col-lg-11">
                      <h3 class="d-inline-block mb-0" style="font-size: 1.2em;font-weight:600">eliav.co</h3>
                      <div class="row">
                        <div class="col-lg-12 mb-0">
                          <div class="bars gradient-green" style="width:30%"></div>
                          <span style="font-weigh:bold">4,268</span>
                        </div>
                        <div class="col-lg-12">
                          <div class="bars gradient-red" style="width:50%"></div>
                           <span style="font-weigh:bold">4,268</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-2">
                  <div class="row">
                    <div class="col-lg-1">
                      <img style="width: 45px;height: 45px;border-radius: 50%;" src="@/assets/images/avatar.jpg" alt="" srcset="">
                    </div>
                    <div class="col-lg-11">
                      <h3 class="d-inline-block mb-0" style="font-size: 1.2em;font-weight:600">eliav.co</h3>
                      <div class="row">
                        <div class="col-lg-12 mb-0">
                          <div class="bars gradient-green" style="width:80%"></div>
                          <span style="font-weigh:bold">4,268</span>
                        </div>
                        <div class="col-lg-12">
                          <div class="bars gradient-red" style="width:70%"></div>
                           <span style="font-weigh:bold">4,268</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data(){
    return{
      api_key: 'b3a066d9cd3cc04e3950a979604d6aa5',
      popularShow: false,
      freeShow: false,
      trendingShow: false,
      latestShow: false,
      free: [],
      popular: [],
      trending: [],
      latest: [],
      selected: "streaming",
      selected_free: "movie",
      selected_trending: "day",
      selected_latest: "streamings",
      monitize: 'flatrate',
      release_type:'',
      monitizes: 'flatrate',
      release_types:'',
      background_change: ''
    }
  },
  mounted(){
    this.getPopular()
    this.getFree()
    this.getTrending()
    this.getLatest()
  },
  methods:{
    popular_menu: function(event){
      let element = document.getElementById(event.target.id)
      let marker = document.getElementById('marker')
      marker.style.left = element.offsetLeft+"px";
      this.selected = event.target.id
      this.monitize = element.getAttribute('data-mon')
      this.release_type = element.getAttribute('data-release')
      this.getPopular()
    },
    getPopular: function(){
      this.popularShow = false
      axios.get('https://api.themoviedb.org/3/discover/tv', {
        params: {
          api_key: this.api_key,
          watch_region: 'US',
          with_watch_monetization_types: this.monitize,
          with_release_type: this.release_type
        }
      })
      .then((response) => {
        this.popular = response.data.results
        this.popularShow = true
      })
      .catch((error) => {
        console.log(error);
      })
    },
    getFree:function(){
      this.freeShow = false
      axios.get('https://api.themoviedb.org/3/'+this.selected_free+'/popular', {
        params: {
          api_key: this.api_key,
          language: 'en-US',
          page: "1",
        }
      })
      .then((response) => {
        this.free = response.data.results
        this.freeShow = true
      })
      .catch((error) => {
        console.log(error);
      })
    },
    free_menu: function(event){
      let element = document.getElementById(event.target.id)
      let marker = document.getElementById('marker2')
      marker.style.left = element.offsetLeft+"px";
      this.selected_free = event.target.id

      this.getFree()
    },
    getTrending: function(){
      this.trendingShow = false
      axios.get('https://api.themoviedb.org/3/trending/all/'+this.selected_trending, {
        params: {
          api_key: this.api_key,
        }
      })
      .then((response) => {
        this.trending = response.data.results
        this.trendingShow = true
        console.log(response.data.results);
      })
      .catch((error) => {
        console.log(error);
      })
    },
    tranding_menu: function(event){
      let element = document.getElementById(event.target.id)
      let marker = document.getElementById('marker4')
      marker.style.left = element.offsetLeft+"px";
      this.selected_trending = event.target.id

      this.getTrending()
    },
    getSrc: function(event){
      this.background_change = event.target.getAttribute('data-src')
    },
    getLatest: function(){
      this.latestShow = false
      axios.get('https://api.themoviedb.org/3/discover/tv', {
        params: {
          api_key: this.api_key,
          watch_region: 'US',
          with_watch_monetization_types: this.monitizes,
          with_release_type: this.release_types,
          page: 2
        }
      })
      .then((response) => {
        console.log(response.data.results)
        this.latest = response.data.results
        this.background_change = 'http://image.tmdb.org/t/p/w1920_and_h427_multi_faces' + this.latest[0].backdrop_path
        this.latestShow = true
      })
      .catch((error) => {
        console.log(error);
      })
    },
    latest_menu: function(event){
      let element = document.getElementById(event.target.id)
      let marker = document.getElementById('marker3')
      marker.style.left = element.offsetLeft+"px";
      this.selected_latest = event.target.id
      this.monitizes = element.getAttribute('data-mon')
      this.release_types = element.getAttribute('data-release')

      this.getLatest()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none!important;
}
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ffff;
}
.btn:focus{
  box-shadow: inset 0 -1px 0 #ffff;
}
.darkBlue{
  background-color: #0a0a3c!important;
}
.navbar-brand img{
  width: 154px;
  height: 20px;
}
.navbar .navbar-nav .nav-item{
  margin: 0 10px;
}
.navbar .navbar-nav .nav-item .nav-link{
  color: white;
  font-size: 1em;
}
.nav-item:hover .dropdown-menu{
  display: block;
}
.main{
  height: auto;
  background: url('../assets/images/main_background.svg') 50% 50% no-repeat;
  color: white;
}
div.year h2{
  font-size: 8em;
  font-family: 'Space Mono', monospace;
}
div.main-caption h2{
  font-size: 2.8em;
}
div.main-caption h3{
  font-size: 1.8em;
  margin-bottom: 40px;
}
div.main-caption h3 a{
  color: #fff;
  text-decoration: none;
}
div.main-caption h3 a:hover{
  text-decoration: underline;
}
div.main-form{
  position: relative;
  top: 35px;
}
div.main-form .input-group{
  border: 2px solid orange;
  border-radius: 20px;
}
div.main-form .input-group .form-control, div.main-form .input-group .btn{
  border: none;
  border-radius: 20px;
}
div.main-form .input-group .btn{
  font-weight: bold;
}
.column-header h2{
  font-size: 1.5em;
  font-weight: bold;
}
.content{
  white-space: nowrap;
  overflow-x: auto;
  position: relative;
  min-height: 380px;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa; 
  border-radius: 10px;
}
.content .card{
  margin: 0 10px;
  display: inline-grid;
  white-space: normal;
  border: none;
  width: 150px;
  background-color: transparent!important;
}
.content .card img{
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.content .card .card-header{
  position: relative;
  background-color: transparent!important;
  border-bottom: none!important;
  padding: 0!important;
}
.content .card .card-body h2{
  font-size: 1em;
  margin: 0;
}
.content .card .card-body h2 a{
  font-weight: 700;
  color: black;
  text-decoration: none;
}
.content .card .card-body p{
  font-size: 1em;
  color: rgba(0,0,0,0.6);
}
.single-chart {
  width: 43px;
  justify-content: space-around ;
  position: absolute;
  bottom: -15px;
  left: 15px;
}
.circle-bg {
  fill: black;
  stroke: grey;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.percentage {
  fill: white;
  font-family: sans-serif;
  font-size: 0.6em;
  text-anchor: middle;
  font-weight: bold;
}

.circular-chart.orange .circle {
  stroke: #4CC790;
}
.joinToday{
  background: url('../assets/images/comunity.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
.joinToday .join-title h2{
  font-weight: bold;
  font-size: 2em;
}
.joinToday p{
  font-size: 1.2em;
}
.joinToday p em{
  opacity: 0.7;
}
.btn-ungu{
  background: #805be7;
  color: white;
}
.list-com{
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 20px;
}
.list-com li{
  opacity: 0.7;
}
.button-container{
  border: 1px solid #0a0a3c;
  border-radius: 20px;
  position: relative;
}
.button-container div a{
  text-align: center;
  padding: 5px 10px;
  width: 120px;
  color: #0a0a3c;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.button-container div a.active{
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button-container div.sliding{
  position:absolute;
  background: #0a0a3c;
  padding: 5px 10px;
  width: 120px;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
  transition: all 0.5s;
  left: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.trending{
  background: url('../assets/images/background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 200px;
}
.latest{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.latest .column-header h2{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
.latest .content{
  min-height: 350px;
}
.latest .content .card{
  margin: 0 10px;
  display: inline-grid;
  white-space: normal;
  border: none;
  width: 300px;
  background-color: transparent!important;
}
.latest .content .card .card-header{
  transform: scale(0.95);
  transition: all 0.5s;
}
.latest .content .card .card-header:hover{
  transform: scale(1);
}
.latest .content .card img{
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.latest .content .card .card-body{
  text-align: center;
}
.latest .content .card .card-body h2 a{
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.latest .content .card .card-body p{
  font-size: 1em;
  color: white;
}
.button-container-latest{
  border: 1px solid lightgreen;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}
.button-container-latest div a{
  text-align: center;
  padding: 5px 10px;
  width: 120px;
  color: white;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.button-container-latest div a.active{
  color: #0a0a3c;
}
.button-container-latest div.sliding{
  position:absolute;
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  padding: 5px 10px;
  width: 120px;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
  transition: all 0.5s;
  left: 0;
}
.play-btn{
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.dots{
  border-radius: 50%;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
}
.gradient-green{
  background: linear-gradient(91deg, rgba(255,255,255,1) 0%, rgba(105,230,185,1) 60%);
}
.gradient-red{
  background: linear-gradient(90deg, rgba(247,186,111,1) 7.000000000000001%, rgba(217,62,103,1) 99%);
}
.bars{
  height: 8px;
  border-radius: 20px;
  display: inline-block;
  margin: 0 5px;
}
</style>
